
:root {
    --menu-color: #0D1117;
    --sae-color: #7171FF;
    --rendus-color: #F1B2FD;
}

.menu {
    background-color: var(--menu-color);
}

.flex-1 {
    flex: 1;
}

.icon {
    fill: white;
}

.card {
    border: none;
}

.card-sae {
    background: var(--sae-color);
}

.card-rendus {
    background: var(--rendus-color);
}