
:root {
    --menu-color: #0D1117;
    --sae-color: #7171FF;
    --rendus-color: #F1B2FD;
}

.menu {
    background-color: var(--menu-color);
}

.flex-1 {
    flex: 1;
}

.icon {
    fill: white;
}

/* Home Page */

.card {
    border: none;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-sae {
    background: var(--sae-color);
    
}

.card-rendus {
    background: var(--rendus-color);
}

.card-sae:hover,
.card-sae-content:hover,
.card-rendus:hover,
.card-rendus-content:hover {
    transform: scale(1.05);
}

.w-25px {
    width: 25px;
}

.h-25px {
    height: 25px;
}